/* Color Theme Swatches in Hex */
.bootstrap-theme-1-hex { color: #E4E3FD; }
.bootstrap-theme-2-hex { color: #CCD2E3; }
.bootstrap-theme-3-hex { color: #F8F9FA; }
.bootstrap-theme-4-hex { color: #CCDEE3; }
.bootstrap-theme-5-hex { color: #E3FDFC; }

/* Color Theme Swatches in RGBA */
.bootstrap-theme-1-rgba { color: rgba(228, 227, 253, 1); }
.bootstrap-theme-2-rgba { color: rgba(204, 210, 227, 1); }
.bootstrap-theme-3-rgba { color: rgba(248, 249, 250, 1); }
.bootstrap-theme-4-rgba { color: rgba(204, 222, 227, 1); }
.bootstrap-theme-5-rgba { color: rgba(227, 253, 252, 1); }

/* Color Theme Swatches in HSLA */
.bootstrap-theme-1-hsla { color: hsla(242, 86, 94, 1); }
.bootstrap-theme-2-hsla { color: hsla(224, 29, 84, 1); }
.bootstrap-theme-3-hsla { color: hsla(210, 16, 97, 1); }
.bootstrap-theme-4-hsla { color: hsla(193, 29, 84, 1); }
.bootstrap-theme-5-hsla { color: hsla(177, 86, 94, 1); }

