:root {
    --body-bg-color: #012e40;
    --header: #023059;
    --text-color: #f2e3d5;
    --openSans: "Open Sans", sans-serif;
}

.pt-10 {
    padding-top: 100px !important;
}

@media (max-width: 768px) {
    .pt-10 {
        padding-top: 50px !important;
    }
}

body {
    font-family: var(--openSans) !important;
}

.dropdown-toggle::after {
    display: none !important;
}

a {
    text-decoration: none !important;
}

.tableFixHead {
    overflow: auto;
    height: 100px;
    cursor: pointer;
}
.tableFixHead thead th {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #f8f9fa;
}

.hover-card {
    transition: 0.4s ease-in-out !important;
}

.hover-card:hover {
    background-color: #ccdee3 !important;
    cursor: pointer;
}

/* Color Theme Swatches in Hex */
.bg-cor-1 {
    background-color: #e4e3fd !important;
}
.bg-cor-2 {
    background-color: #ccd2e3 !important;
}
.bg-cor-3 {
    background-color: #f8f9fa !important;
}
.bg-cor-4 {
    background-color: #ccdee3 !important;
}
.bg-cor-5 {
    background-color: #e3fdfc !important;
}
