:root {
    --body-bg-color: #012E40;
    --header: #023059;
    --text-color: #F2E3D5;
    --openSans: 'Open Sans', sans-serif;
  }


  .pt-10 {
    padding-top: 100px!important;
  }

  @media (max-width: 768px) {
    .pt-10 {
      padding-top: 50px!important;
    }
  }

  body{
    font-family: var(--openSans)!important;
  }
  
  